/* fonts */
@font-face {
  font-family: TheGwathmey;
  src: url(fonts/TheGwathmey.ttf);
}

/* general styles */
body,
*,
html {
  letter-spacing: 0.2px;
  color: white;
  box-sizing: border-box;
}

body {
  background-color: #1d1e1f;
}

.app-btn {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.navbar-btn {
  padding: 10px 20px !important;
  background: radial-gradient(circle, #12ccc7 0%, #08b09a 100%);
  color: white !important;
}

.text-teal {
  color: #12ccc7 !important;
}

.text-gray {
  color: #a2a2a2 !important;
}

.bg-teal {
  background: radial-gradient(circle, #12ccc7 0%, #08b09a 100%) !important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.app-width {
  width: 80%;
  margin: 0 auto;
}

.app-height {
  height: 100vh;
  overflow: scroll;
}

.app-min-height {
  min-height: 100vh;
}

.title-h4 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 36px;
}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-24 {
  font-size: 24px !important;
}

.f-28 {
  font-size: 28px !important;
}

.f-30 {
  font-size: 30px !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-bold {
  font-weight: bold !important;
}

.ls-4 {
  letter-spacing: 0.4px;
}

.bg-pink {
  background-color: #e72287 !important;
}

.btn-small {
  border-radius: 4px;
  color: white;
  height: 28px;
  width: 82px;
  border: none;
  outline: none;
}

.btn-transparent {
  height: 40px;
  width: 200px;
  border: 1px solid #12ccc7;
  border-radius: 6px;
  color: white;
  background-color: transparent;
}

.btn-teal {
  height: 48px;
  width: 324px;
  border-radius: 6px;
  color: white;
  background: radial-gradient(circle, #12ccc7 0%, #08b09a 100%);
  outline: none;
  border: none;
}

.gray-btn {
  height: 48px;
  width: 100%;
  background-color: rgba(151, 151, 151, 0.2);
  margin-top: 40px;
}

.boxShadow {
  box-shadow: 0 10px 24px 0 rgba(18, 204, 199, 0.3);
}

.flex-1 {
  flex: 1 !important;
}

.width-20 {
  width: 20%;
}

.mb-120 {
  margin-bottom: 120px !important;
}

.mb-36 {
  margin-bottom: 36px !important;
}

.mt-36 {
  margin-top: 36px !important;
}

.mb-44 {
  margin-bottom: 44px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mt-120 {
  margin-top: 120px !important;
}

.max-80 {
  max-width: 80px;
}

.max-254 {
  max-width: 254px;
  width: 100%;
}

.fb-btn {
  height: 48px;
  width: 100%;
  background: radial-gradient(circle, #2895c9 0%, #115fe5 100%);
  margin-top: 60px;
  margin-bottom: 12px;
}

.ig-btn {
  height: 48px;
  width: 344px;
  background: radial-gradient(circle, #f57a47 0%, #e72287 42.25%, #7a36ec 100%);
  margin-bottom: 32px;
}

.line-break {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.line-break > div {
  height: 1px;
  border-radius: 0.5px;
  background-color: #3e4747;
  flex: 1;
}

.app-input {
  height: 48px;
  width: 100%;
  border: 1px solid #464646;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  padding-left: 16px;
  background-color: transparent;
  margin-bottom: 12px;
}

.app-input.textarea {
  height: unset;
}

.form-text {
  margin-top: -10px;
  margin-bottom: 12px;
}

/* navbar styles */

.navbar .nav-link {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-right: 30px;
}

/* footer styles */

footer {
  background-color: #16161a;
  text-align: center;
  padding: 120px 0;
}

footer img {
  max-width: 200px;
  margin-bottom: 50px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  max-width: 160px;
  margin: 0 auto;
}

.social-icons span {
  font-size: 30px;
}

footer p {
  margin-top: 50px;
}

/* home styles */

.home {
  background-color: #141417;
  color: #ffffff;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.banner {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4% 0 6% 0;
  display: flex;
  flex-direction: column;
  transition: all 1.5s ease-in-out;
}

.intro-text {
  text-align: center;
  margin: 50px 0 120px 0;
  transition: 1s ease-in;
}

.intro-text h6 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 36px;
  margin-bottom: 8px;
}

.intro-text img {
  height: 61px;
  margin-bottom: 23px;
}

.intro-text p {
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-align: center;
}

.banner-imgs {
  display: flex;
  margin-top: auto !important;
}

.banner-imgs img {
  margin-right: 1.5%;
  height: 95%;
  width: 18.5%;
  cursor: pointer;
  transition: 1s;
}

.banner-imgs img:hover {
  width: 22%;
  height: 100%;
}

.category-wrap {
  /* -webkit-box-shadow: 0px -14px 30px 20px #000000;
  box-shadow: 0px -14px 30px 20px #000000; */
  padding-top: 60px;
}

.categories {
  margin-top: 48px;
  display: flex;
  padding: 0 4%;
}

.categories > div {
  height: 120px;
  width: 100%;
  margin-right: 2%;
  border-radius: 12px;
  background-color: #262829;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
}

.categories > div img {
  max-width: 50px;
  margin-bottom: 15px;
}

.categories > div p {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin: 0;
  margin-top: auto;
}

.info img {
  max-width: 210px;
  margin-bottom: 72px;
}

.info h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 64px;
  margin-bottom: 40px;
}

.events {
  margin-top: 180px;
}

.events-list {
  display: flex;
}

.events-list > div {
  width: 31%;
  margin-right: 2%;
}

.events-list img {
  width: 100%;
}

.events-list .img-button {
  position: absolute;
  top: 12px;
  left: 16px;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
}

.about > div {
  margin-right: 4%;
  display: flex;
  flex-direction: column;
  width: 29%;
}

.steps {
  margin-top: auto;
}

.steps img {
  max-width: 200px;
  margin-bottom: 65px;
}

.steps .arrow-right {
  position: absolute;
  right: -20px;
  top: 30%;
}

.steps .arrow-right.last {
  top: 20%;
}

/* Signup page styles */

.signup {
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.signup .image-left {
  width: 516px;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.signup-logo {
  max-width: 157px;
  margin-bottom: 12px;
}

/* signup-success page styles */

.intro-text.success img {
  height: auto;
  max-width: 260px;
  margin-top: 12px;
}

.intro-text.success p {
  font-size: 18px;
  margin-top: 44px;
}

.event-host,
.attendee {
  text-align: center;
}

.event-host h3,
.attendee h3 {
  font-family: TheGwathmey;
  font-size: 36px;
}

.event-host img,
.attendee img {
  max-width: 320px;
  margin-bottom: 44px;
}

.intro-text.success {
  margin-bottom: 52px;
}

/* attendee styles */

.logo-color {
  margin-top: 36px;
  max-width: 250px;
  margin-bottom: 32px;
}

.attendee-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.attendee-flex > div:first-child,
.attendee-flex > div:last-child {
  max-width: 150px;
}

.attendee-flex > div:first-child img,
.attendee-flex > div:last-child img {
  width: 100%;
  height: 100%;
}

.reg-section {
  width: 55%;
}

.reg-section.w-45 {
  width: 45%;
}

.left-info {
  max-width: 164px;
  width: 100%;
}

.categories.attendee {
  flex-wrap: wrap;
  margin-top: 0;
  padding: 0;
}

.categories.attendee > div {
  width: 23%;
  margin-right: 2%;
  background-color: transparent;
  border: 1px solid #616162;
  margin-bottom: 12px;
}

.categories.attendee p {
  color: #616162;
  font-weight: 400;
}

.upload {
  width: 120px;
  height: 120px;
  border: 1px dashed #ffffff;
  border-radius: 12px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 50px;
}

/* host profile event-host styles */

.broken-line {
  display: flex;
  justify-content: space-between;
  width: 60px;
  align-items: center;
}

.broken-line > div {
  height: 4px;
  width: 32px;
  border-radius: 4px;
  background-color: #12ccc7;
}

.broken-line > span {
  height: 4px;
  width: 4px;
  border-radius: 4px;
  background-color: #e0e0e0;
}

.upload-delete {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* congrats screen styles */
.congrats-screen {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.congrats-screen img {
  max-width: 391px;
}

.congrats-screen button {
  box-shadow: 0 8px 24px 0 rgba(18, 204, 199, 0.3);
}

/* host-profile screen 2 styles */

.hp-actions {
  max-width: 525px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hp-actions button {
  width: 48%;
  margin-right: 3%;
  height: 48px;
}

.hp-actions button:last-child {
  margin-right: 0;
}

/* host-profile screen 3 styles */

.screen3-media span {
  min-width: 50px;
  font-size: 30px;
  margin-bottom: 12px;
}

.categories.attendee.cards img {
  max-height: 40px;
}

.categories.attendee.cards > div {
  width: 49%;
  margin-right: 2%;
}

.categories.attendee.cards > div:last-child {
  margin-right: 0;
}

/* create event styles */

.event-bar {
  background-color: #262829;
  width: 278px;
  border-radius: 12px;
  padding: 44px 22px;
}

.event-flow {
  margin-top: 56px;
}

.event-flow ul {
  padding-left: 20px;
  margin-bottom: 24px;
}

.event-flow ul li {
  font-size: 16px;
  font-weight: 500;
  color: #a2a2a2;
}

.event-flow img {
  width: 100%;
  margin-bottom: 40px;
}

.event-content {
  padding-top: 60px;
  margin: 0 auto;
  max-width: 524px;
  width: 100%;
}

.event-img {
  max-width: 250px;
  width: 100%;
  margin-bottom: 25px;
}

.upload.event-media {
  height: 254px;
  background-size: 120px;
}

.uploaded-media,
.free-ticket {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-small-img {
  height: 52px;
  width: 52px;
  border-radius: 4px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.free-ticket {
  border-top: 2px solid rgba(230, 230, 230, 0.3);
  margin-top: 32px;
}

.event-tag {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  height: 24px;
  width: 64px;
  border-radius: 4px;
  background-color: #12ccc7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

/* custom radio button styles */

.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #e0e0e0;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkmark {
  background-color: #12ccc7;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
  top: 6px;
  left: 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
}

.radio-wrap {
  display: flex;
  align-items: center;
}

.radio-wrap > * {
  margin-right: 40px;
}

/* media queries */

@media screen and (max-width: 1350px) {
  .reg-section.w-45 {
    width: 55%;
  }
}

@media screen and (max-width: 1200px) {
  .app-width {
    max-width: 1064px;
    width: 100%;
  }
}
